.container__card-front {
  position: relative;
  width: 45%;
  height: 70%;
  margin-top: 100px;
  margin-left: 11%;
}
.container__card-front .card-front {
  width: 424.03px;
  height: 222px;
}
.container__card-front .card-front__circles {
  position: absolute;
  top: 25px;
  left: 30px;
  width: 80px;
  height: 43px;
}
.container__card-front .card-front__number {
  margin-top: -100px;
  margin-left: 30px;
  font-size: 23.4px;
  letter-spacing: 4px;
  font-weight: 500;
  color: hsl(0deg, 0%, 100%);
}
.container__card-front .card-front__number span {
  margin-right: 8px;
}
.container__card-front .card-front__data {
  margin-top: 20px;
  margin-left: 30px;
}
.container__card-front .card-front__data p {
  display: inline;
  font-size: 14px;
  text-transform: uppercase;
  color: hsl(270deg, 3%, 87%);
}
.container__card-front .card-front__data .card-front__name {
  letter-spacing: 1px;
}
.container__card-front .card-front__data .card-front__dates {
  margin-left: 180px;
}

.container__card-back {
  position: relative;
  margin-top: 70px;
  margin-left: 18%;
  width: 300px;
  height: 40%;
}
.container__card-back .box-shadow {
  position: absolute;
  left: 208px;
  width: 216px;
  height: 221px;
  box-shadow: 10px 2px 35px -3px rgba(137, 132, 140, 0.38);
}
.container__card-back .card-back {
  position: relative;
  width: 424.03px;
  height: 222px;
}
.container__card-back .card-back__CVC {
  position: absolute;
  top: 100px;
  left: 335px;
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 2px;
  font-size: 14px;
  opacity: 0.8;
}

.form {
  /* display: none; */
}
.form label {
  display: block;
  margin-bottom: 0.9em;
  color: hsl(278deg, 68%, 11%);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.form .label__month,
.form .label__year,
.form .label__CVC {
  display: inline;
}
.form .label__CVC {
  margin-left: 50px;
  margin-right: 150px;
}
.form input {
  margin-bottom: 1em;
  padding-left: 13px;
  border: 0;
  outline: none;
  border-radius: 6px;
  border: 1px solid hsl(270deg, 3%, 87%);
}
.form input::placeholder {
  color: hsl(278deg, 68%, 11%);
  opacity: 0.4;
  font-weight: 500;
  font-size: 14px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-name,
.input-number {
  width: 340px;
  height: 35px;
  margin-right: 15px;
}

.input-month,
.input-year {
  display: inline-block;
  width: 70px;
  height: 35px;
  margin-top: 10px;
  margin-right: 8px;
}

.input-cvc {
  display: inline-block;
  width: 160px;
  height: 35px;
  margin-left: 13px;
}

.buttom {
  width: 340px;
  height: 45px;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 20px;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(278deg, 68%, 11%);
  border-radius: 8px;
  cursor: pointer;
}

.complete-state {
  display: none;
  position: absolute;
}

.complete-state__icon {
  width: 80px;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 40%;
}

.complete-state__title {
  font-size: 36px;
  margin-bottom: 15px;
  color: hsl(278deg, 68%, 11%);
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
}

.complete-state__text {
  color: hsl(279deg, 6%, 55%);
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}

.complete-state__buttom {
  width: 340px;
  height: 45px;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 20px;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(278deg, 68%, 11%);
  border-radius: 8px;
  cursor: pointer;
}

/* Partials */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.bg-desktop {
  position: absolute;
  width: 34%;
  height: 699px;
}

.container {
  position: relative;
  display: grid;
}

.section {
  position: absolute;
  top: 180px;
  left: 790px;
  width: 375px;
  height: 330px;
  /* border: 1px solid black; */
}

/*# sourceMappingURL=style.css.map */
