/* Partials */
@use 'card-front';
@use 'card-back';
@use 'form';
@use 'complete-state';
@use 'responsive';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

body{
  font-family: 'Space Grotesk', sans-serif;
}

.bg-desktop{
  position: absolute;
  width: 34%;
  height: 699px;
}

.container{
  position: relative;
  display: grid;
}

.section{
  position: absolute;
  top: 180px;
  left: 790px;
  width: 375px;
  height: 330px;
  /* border: 1px solid black; */
}